.m-quickControl {
  display: flex;
  .btnIcon {
    font-size: 20px;
  }
}
.m-proxySelect {
  margin: 0 10px;
  cursor: pointer;
  .u-active {
    display: block;
  }
  .u-list {
    &-panel {
      width: 300px;
      height: 100%;
      padding: 5px 0;
      background: #ddd;
      position: fixed;
      right: -500px;
      bottom: 0;
      z-index: 100;
      user-select: none;
      &.drag {
        .u-pattern {
          transition: transform 200ms;
        }
      }
    }
    &-mask {
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.1);
      position: fixed;
      left: 0;
      top: 0;
      z-index: 99;
      display: none;
      cursor: auto;
    }
  }
  .u-pattern {
    padding: 0 20px;
    margin: 4px 6px;
    border-radius: 4px;
    background: #FFF;
    border-left: 0px solid #999;
    transition: border-left 300ms;
    position: relative;
    &:hover {
      border-left: 6px solid #999;
    }
    &.active {
      border-left-color: #52C3DD;
      &:after {
        content: '\221A';
        color: #52C3DD;
        font-size: 22px;
        position: absolute;
        right: 10px;
      }
    }
  }
  &.active {
    .u-list {
      &-panel {
        right: 0;
      }
      &-mask {
        display: block;
      }
    }
  }
}