.p-preview {
  .m-empty {
    width: 800px;
    margin: 50px auto;
    text-align: center;
    .icon {
      font-size: 80px;
      margin-bottom: 20px;
    }
    .tip {
      line-height: 2.5;
    }
  }
}