.page {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #EEE; }

.ui-panel {
  background: #FFF;
  padding: 10px;
  margin-bottom: 5px; }
  .ui-panel_title {
    padding: 0; }
    .ui-panel_title > * {
      padding: 16px; }
  .ui-panel .title {
    line-height: 2;
    border-bottom: 1px solid #EEE;
    display: flex;
    justify-content: space-between; }
  .ui-panel:last-child {
    margin-bottom: 0; }
  .ui-panel .line {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center; }
    .ui-panel .line .label {
      margin-left: 10px; }
    .ui-panel .line_half {
      width: 50%; }

.divider:before {
  content: "|";
  padding: 0 3px; }

.btnIcon {
  cursor: pointer;
  margin: 0 5px; }
  .btnIcon:hover {
    color: #52C3DD; }

.btnText {
  margin: 0 5px; }

.ui-btns .ant-btn {
  margin-right: 8px; }

.ui-btns .ant-btn:last-child {
  margin-right: 0; }

.f-df {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .f-df_l {
    justify-content: flex-start; }
  .f-df_r {
    justify-content: flex-end; }

.f-pointer {
  cursor: pointer; }

.ant-input-group > .ant-input-group-wrapper:last-child .ant-input-group > .ant-input:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.ant-input-group > .ant-input-group-wrapper:last-child {
  top: 0; }

.logo-icon {
  width: 100px;
  text-align: center;
  font-size: 24px;
  position: relative;
  font-family: fantasy; }
  .logo-icon .beta {
    font-size: 12px;
    position: absolute;
    top: -6px;
    right: -10px;
    color: #F64152;
    font-family: sans-serif;
    letter-spacing: -1px; }
