.m-requestlist {
  min-height: 100px; }
  .m-requestlist .u-request {
    padding: 10px 15px;
    border-bottom: 1px solid #F0F0F0;
    position: relative;
    flex-wrap: nowrap;
    z-index: 101; }
    .m-requestlist .u-request:hover {
      font-weight: bold; }
    .m-requestlist .u-request:last-child {
      border-bottom: none; }
    .m-requestlist .u-request .tags {
      width: 150px; }
    .m-requestlist .u-request .path {
      width: 100%;
      cursor: pointer; }
      .m-requestlist .u-request .path .anticon {
        margin-left: 5px; }
    .m-requestlist .u-request .cost {
      width: 50px; }
    .m-requestlist .u-request .control {
      width: 150px;
      text-align: right; }

.m-filter.ui-panel .u-fetchStatus {
  font-size: 16px;
  margin-right: 4px; }

.m-filter.ui-panel .filter {
  display: flex;
  align-items: center; }
  .m-filter.ui-panel .filter .label {
    vertical-align: middle;
    margin: 0 5px;
    flex-shrink: 0; }

.m-filter.ui-panel .url {
  width: 400px;
  margin: 0 10px; }
