.m-requestlist {
  min-height: 100px;
  .u-request {
    padding: 10px 15px;
    border-bottom: 1px solid #F0F0F0;
    position: relative;
    flex-wrap: nowrap;
    z-index: 101;
    &:hover {
      font-weight: bold;
    }
    &:last-child {
      border-bottom: none;
    }
    .tags {
      width: 150px;
    }
    .path {
      width: 100%;
      cursor: pointer;
      .anticon {
        margin-left: 5px;
      }
    }
    .cost {
      width: 50px;
    }
    .control {
      width: 150px;
      text-align: right;
    }
  }
}

.m-filter.ui-panel {
  .u-fetchStatus {
    font-size: 16px;
    margin-right: 4px;
  }
  .filter {
    display: flex;
    align-items: center;
    .label {
      vertical-align: middle;
      margin: 0 5px;
      flex-shrink: 0;
    }
  }
  .url {
    width: 400px;
    margin: 0 10px;
  }
}