.m-contentViewer {
  .title {
    font-size: 14px;
    text-indent: 1em;
  }
}
.m-jsonViewer {
  border: 1px solid #EEE;
  padding: 20px 0;
  .objectInner {
    padding-left: 2em;
  }
  .arrayInner{
    padding-left: 2em;
  }
  .attrs {
    > .attr{
      text-indent: 2em;
      .ant-tag {
        text-indent: 0;
        margin-right: 0;
      }
    }
    .attr:after,
    > .object > .end:after,
    > .attr > .end:after{
      content: ',';
    }
    > .attr:last-child:after,
    > .object:last-child > .end:after,
    > .attr.array:after,
    > .attr.object:after{
      content: '';
    }
  }
  .attr.string .value {
    &:before {
      content: '"';
      padding-left: 0.5em;
    }
    &:after{
      content: '"';
    }
  }
  p.end {
    margin-bottom: 0;
  }
  .start {
    padding-left: 2em;
  }
}
.m-formViewer {
  .line {
    display: flex;
    border-bottom: 1px solid #EEE;
    .column {
      padding: 4px 8px;
    }
    .key {
      width: 150px;
      flex-shrink: 0;
    }
    .type {
      width: 150px;
      flex-shrink: 0;
    }
    .value {
      width: 100%;
    }
  }
}
.m-htmlViewer {
  .preview {
    border: 1px solid #EEE;
    margin: 10px;
  }
}
