.m-pattern {
  .u-pattern {
    padding: 10px;
    flex-wrap: nowrap;
    background: #FFF;
    margin-bottom: 3px;
    &.disable {
      .ant-tag {
        color: #666;
        background: #EEE;
        border-color: #EEE;
      }
    }
    .ant-switch {
      margin-right: 20px;
    }
    .match {
      width: 100%;
      .url {
        padding-right: 10px;
      }
      .methods {
        .ant-tag {
          margin: 1px -10px 0 0;
          &:hover {
            margin: 1px 5px 0 0;
          }
        }
      }
    }
    .handle, .throttle {
      width: 100px;
      flex-shrink: 0;
      .anticon {
        margin: 0 5px;
        cursor: pointer;
        // &:hover {
        //   color: #F00;
        // }
      }
    }
    .control {
      width: 80px;
      flex-shrink: 0;
    }
  }
}