.m-pattern .u-pattern {
  padding: 10px;
  flex-wrap: nowrap;
  background: #FFF;
  margin-bottom: 3px; }
  .m-pattern .u-pattern.disable {
    text-decoration: line-through; }
    .m-pattern .u-pattern.disable .ant-tag {
      color: #666;
      background: #EEE;
      border-color: #EEE; }
  .m-pattern .u-pattern .ant-switch {
    margin-right: 20px; }
  .m-pattern .u-pattern .match {
    width: 100%; }
    .m-pattern .u-pattern .match .url {
      padding-right: 10px; }
  .m-pattern .u-pattern .handle {
    width: 200px; }
    .m-pattern .u-pattern .handle .anticon {
      margin: 0 5px;
      cursor: pointer; }
      .m-pattern .u-pattern .handle .anticon:hover {
        color: #F00; }
